@import url(var.css);
@import url(about.css);
@import url(help.css);
@import url(connection.css);
@import url(address.css);
@import url(projects.css);
@import url(pets.css);

@font-face {
    font-family: Comfortaa;
    src: local(Comfortaa-Bold), url(../fonts/Comfortaa-Bold.woff2) format("woff2");
    src: url(../fonts/Comfortaa-Bold.woff) format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: local(HelveticaNeueCyr-Light), url(../fonts/HelveticaNeueCyr-Light.woff2) format("woff2");
    src: url(../fonts/HelveticaNeueCyr-Light.woff) format("woff");
    font-weight: 300;
    font-display: swap;
}


@font-face {
    font-family: HelveticaNeueCyr;
    src: local(HelveticaNeueCyr-Medium), url(../fonts/HelveticaNeueCyr-Medium.woff2) format("woff2");
    src: url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-black, #282626);
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.container {
    max-width: 1180px;
    padding: 0 130px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.heading {
    color: var(--color-black, #282626);
    font-family: Comfortaa;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .heading {
        font-size: 44px;
        line-height: 54px;
        margin-bottom: 40px;
    }

    .container {
        padding: 0 72px;
    }

    section {
        padding: 38px 0;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .container {
        padding: 0 34px;
    }

    section {
        padding: 30px 0;
    }
}

@media (max-width: 425px) {
    .heading {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .container {
        padding: 0 25px;
    }

    section {
        padding: 20px 0;
    }
}